# Make & change dir
function mkcd() {
  mkdir "$1"
	cd "$1"
  clear
}

# Better list
function list() {
  clear
  cd "$1"
	ls -a -Gp -F -h
}

# Touch & slime file
function touchslime() {
  touch "$1"
  subl "$1"
}

# Better change dir
function changedir() {
  cd "$1"
  clear
}

## App/Script dependant
# Remove → Trash
function remove() {
 trash "$1"
 clear
 list
}

# Deploy
function deploy() {
  "$1.sh"
}

# Show which software 'version' flag to use
function ver() {
  echo '====================';
  echo '→ bower -v ';
  echo '→ brew  -v ';
  echo '→ mvn   -v '; # maven
  echo '→ node  -v ';
  echo '→ npm   -v ';
  echo '→ ruby  -v ';
  echo '--------------------';
  echo '→ bash  --version '; # -version works, but for consistency's sake...
  echo '→ curl  --version ';
  echo '→ git   --version ';
  echo '→ grunt --version '; # -v/--v work, but outputs a warning & -ver/--ver and -version work, but for consistency's sake...
  echo '→ tree  --version ';
  echo '====================';
}

# Turn Single App option on/off (use true/false)
function singleapp() {
  defaults write com.apple.dock single-app -bool "$1" && killall Dock
}

# Up date/grade all package managers & it's dependencies
function pkgupfunc() {
  clear
  echo "➠ This will update: Homebrew, npm & Homesick"
  echo "------------------------------------------------------------"
  echo "HOMEBREW"
  echo "➠ update (updates homebrew instelf)"
  echo "➠ upgrade (upgrades installed packages)"
  echo "➠ cleanup (uninstalls unused/old versions of packages)"
  echo "------------------------------------------------------------"
  sleep 1
  brew update
  brew upgrade
  brew cleanup #--force -s
  rm -rf $(brew --cache)
  echo "------------------------------------------------------------"
  echo "HOMEBREW ➠ DONE!"
  echo "------------------------------------------------------------"
  echo "NPM"
  echo "➠ update npm -gf (updates npm instelf)"
  echo "➠ update -g (updates installed global packages)"
  echo "------------------------------------------------------------"
  sleep 1
  npm update npm -g #f
  npm update -g
  echo "------------------------------------------------------------"
  echo "NPM ➠ DONE!"
  echo "------------------------------------------------------------"
  echo "HOMESICK ➠ PULL --ALL (updates all castles)"
  echo "------------------------------------------------------------"
  sleep 1
  homesick pull --all
  echo "------------------------------------------------------------"
  echo "HOMESICK ➠ DONE!"
  echo "------------------------------------------------------------"
  sleep 1
  clear
  echo "➠ All package managers are up to date!"
}
