# ex: type 'cd sites' and get it auto-corrected to 'cd Sites'
set completion-ignore-case on

# self explanatory
set horizontal-scroll-mode Off

# ex: when you have a symlink directory
# & you type it's first letters and press [tab]
# it will auto-complete with a '/' at the end
# just like a normal diractory would
set mark-symlinked-directories on

# ex: in ~, type 'cd d' + [tab] & get it auto-completed to 'cd Desktop'
# press [tab] again and the auto-complete changes to 'cd Documents'
# again, and so on, cycling through all folders that start with 'D'
TAB: menu-complete

# ex: type a comand, say... 'ls'
# use [up] or [down] arrow keys to complete
# with possible combinations for that comand
# (parameters, folder & file names, etc)
"\e[A": history-search-backward
"\e[B": history-search-forward

# ex: type [opt] + [right] or [left] arrow keys
# you are now moving one word at a time
"\e[5C": forward-word
"\e[5D": backward-word
